<ul class="page-sidebar-menu">

    <li>

        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        <div class="sidebar-toggler hidden-phone"></div>

        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

    </li>



    <li class="start ">

        <a href="/">

            <i class="icon-home"></i>

            <span class="title">Deom介绍</span>

        </a>

    </li>

    <li class="">

        <a href="javascript:;">

            <i class="icon-cogs"></i>

            <span class="title">自定义菜单接口</span>

            <span class="arrow "></span>

        </a>

        <ul class="sub-menu">

            <li class="">

                <a asp-page="/Menus/custommenucreate">

                    自定义菜单创建接口
                </a>

            </li>

            <li>

                <a asp-page="/Menus/custommenuQuery">

                    自定义菜单查询接口
                </a>

            </li>

            <li>

                <a asp-page="/Menus/custommenuDelete">

                    自定义菜单删除接口
                </a>

            </li>

            <li>

                <a href="layout_promo.html">

                    自定义菜单事件推送接口
                </a>

            </li>

            <li>

                <a href="layout_email.html">

                    个性化菜单接口
                </a>

            </li>

            <li>

                <a href="layout_ajax.html">

                    获取自定义菜单配置接口
                </a>

            </li>



        </ul>
    </li>



    <li class="last ">

        <a href="charts.html">

            <i class="icon-bar-chart"></i>

            <span class="title">Visual Charts</span>

        </a>

    </li>

</ul>