<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DemoWeb</title>

    <link href="~/media/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="~/media/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="~/media/css/style-metro.css" rel="stylesheet" type="text/css" />

    <link href="~/media/css/style.css" rel="stylesheet" type="text/css" />

    <link href="~/media/css/style-responsive.css" rel="stylesheet" type="text/css" />

    <link href="~/media/css/default.css" rel="stylesheet" type="text/css" id="style_color" />

    <link href="~/media/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="page-header-fixed">
        <div class="header navbar navbar-inverse navbar-fixed-top">

            <!-- BEGIN TOP NAVIGATION BAR -->

            <div class="navbar-inner">

                <div class="container-fluid">

                    <!-- BEGIN LOGO -->

                    <a class="brand" style="width:auto;" asp-page="/">

                        WeiChat Quick Framework

                    </a>

                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->

                    <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

                        <img src="media/image/menu-toggler.png" alt="" />

                    </a>

                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <ul class="nav pull-right">

                            <!-- BEGIN NOTIFICATION DROPDOWN -->


                            <li class="dropdown user">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">



                                    <span class="username">Hello Guy!</span>

                                    <i class="icon-angle-down"></i>

                                </a>

                                <ul class="dropdown-menu">

                                    <li><a href="/loging"><i class="icon-user-md"></i> 切换公众号 </a></li>

                                    <li><a href="/logout"><i class="icon-key"></i> 退出 </a></li>


                                    <li class="divider"></li>
                                    <li><a href="https://github.com/JamesYing/JCWXCore" target="_blank"><i class="icon-code"></i> 源码地址</a></li>

                                    <li><a href="http://www.jamesying.com"><i class="icon-user"></i> 关于作者</a></li>

                                    <li><a href="http://inday.cnblogs.com"><i class="icon-book"></i> 我的博客</a></li>

                                </ul>

                            </li>

                            <!-- END USER LOGIN DROPDOWN -->

                        </ul>
                    }
                    

                    <!-- END TOP NAVIGATION MENU -->

                </div>

            </div>

            <!-- END TOP NAVIGATION BAR -->

        </div>
        @RenderBody()
        <div class="footer">

            <div class="footer-inner">

                2017 &copy; JCSoft

            </div>

            <div class="footer-tools">

                <span class="go-top">

                    <i class="icon-angle-up"></i>

                </span>

            </div>

        </div>
    </div>
    <script src="~/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

    <script src="~/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

    <script src="~/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

    <script src="~/media/js/bootstrap.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>

    <script src="~/media/js/excanvas.min.js"></script>

    <script src="~/media/js/respond.min.js"></script>

    <![endif]-->

    <script src="~/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

    <script src="~/media/js/jquery.blockui.min.js" type="text/javascript"></script>

    <script src="~/media/js/jquery.cookie.min.js" type="text/javascript"></script>

    <script src="~/media/js/jquery.uniform.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="~/media/js/jquery.validate.min.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="~/media/js/app.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
    <script>

        jQuery(document).ready(function () {

            App.init();
        });

    </script>
</body>
</html>

