@page
@model CustomerMenuCreateModel
@{
    ViewData["Title"] = "自定义菜单创建";
}
<div class="row-fluid">
    <h3 class="page-title">@ViewData["Title"]</h3>
</div>
<div class="row-fluid">
    <div class="span12">

        <div class="span3">

            <ul class="ver-inline-menu tabbable margin-bottom-10">

                @*<li class="active">

                    <a href="#tab_1" data-toggle="tab">

                        

                    </a>

                    <span class="after"></span>

                </li>*@

                <li class="active"><a href="#tab_1" data-toggle="tab"><i class="icon-plus"></i> 创建一个Click菜单</a></li>
                <li class=""><a href="#tab_2" data-toggle="tab"><i class="icon-plus"></i> 创建一个Click菜单</a></li>
                <li class=""><a href="#tab_1" data-toggle="tab"><i class="icon-plus"></i> 创建一个Click菜单</a></li>
                <li class=""><a href="#tab_2" data-toggle="tab"><i class="icon-plus"></i> 创建一个Click菜单</a></li>
                <li class=""><a href="#tab_3" data-toggle="tab"><i class="icon-plus"></i> 创建一个Click菜单</a></li>
                <li class=""><a href="#tab_1" data-toggle="tab"><i class="icon-plus"></i> 创建一个Click菜单</a></li>

            </ul>

        </div>

        <div class="span9">

            <div class="tab-content">

                <div class="tab-pane active" id="tab_1">

                    <div class="accordion collapse" id="accordion1" style="height: auto;">

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" >

                                    示例代码

                                </a>

                            </div>

                            <div id="collapse_1" class="accordion-body collapse in">

                                <div class="accordion-inner">

                                    <div id="aceEditor" class="aceEditor ace_editor ace-tm" style="height:200px;">
var client = new ApiClient();
    client.click();
                                        if(bt == true)
                                    {
                                        console.write("hello world");
                                    }
                                    </div>

                                </div>

                            </div>

                        </div>

                        @*<div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">

                                    Pariatur cliche reprehenderit enim eiusmod highr brunch ?

                                </a>

                            </div>

                            <div id="collapse_2" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">

                                    Food truck quinoa nesciunt laborum eiusmod nim eiusmod high life accusamus  ?

                                </a>

                            </div>

                            <div id="collapse_3" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4">

                                    High life accusamus terry richardson ad ?

                                </a>

                            </div>

                            <div id="collapse_4" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_5">

                                    Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_5" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_6">

                                    Wolf moon officia aute non cupidatat skateboard dolor brunch ?

                                </a>

                            </div>

                            <div id="collapse_6" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>*@

                    </div>

                </div>

                <div class="tab-pane" id="tab_2">

                    <div class="accordion collapse" id="accordion2" style="height: auto;">

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">

                                    Cliche reprehenderit, enim eiusmod high life accusamus enim eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_2_1" class="accordion-body collapse in">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2">

                                    Pariatur cliche reprehenderit enim eiusmod high life non cupidatat skateboard dolor brunch ?

                                </a>

                            </div>

                            <div id="collapse_2_2" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">

                                    Food truck quinoa nesciunt laborum eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_2_3" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_4">

                                    High life accusamus terry richardson ad squid enim eiusmod high ?

                                </a>

                            </div>

                            <div id="collapse_2_4" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_5">

                                    Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_2_5" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    <p>

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                    </p>

                                    <p>

                                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_6">

                                    Wolf moon officia aute non cupidatat skateboard dolor brunch ?

                                </a>

                            </div>

                            <div id="collapse_2_6" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_7">

                                    Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_2_7" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    <p>

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                    </p>

                                    <p>

                                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

                                    </p>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="tab-pane" id="tab_3">

                    <div class="accordion collapse" id="accordion3" style="height: auto;">

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1">

                                    Cliche reprehenderit, enim eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_3_1" class="accordion-body collapse in">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2">

                                    Pariatur skateboard dolor brunch ?

                                </a>

                            </div>

                            <div id="collapse_3_2" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3">

                                    Food truck quinoa nesciunt laborum eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_3_3" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4">

                                    High life accusamus terry richardson ad squid enim eiusmod high ?

                                </a>

                            </div>

                            <div id="collapse_3_4" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_5">

                                    Reprehenderit enim eiusmod high  eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_3_5" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    <p>

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                    </p>

                                    <p>

                                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_6">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?

                                </a>

                            </div>

                            <div id="collapse_3_6" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_7">

                                    Reprehenderit enim eiusmod high life accusamus aborum eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_3_7" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    <p>

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                    </p>

                                    <p>

                                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="accordion-group">

                            <div class="accordion-heading">

                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_8">

                                    Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

                                </a>

                            </div>

                            <div id="collapse_3_8" class="accordion-body collapse">

                                <div class="accordion-inner">

                                    <p>

                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

                                    </p>

                                    <p>

                                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

                                    </p>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--end span9-->

    </div>
</div>
