@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@ViewData["Title"]</h2>
<p>App ID : @Model.AppId</p>
<p>App Secret : @Model.AppSecret</p>
<p>Access Token : @Model.AccessToken</p>